<div class="cart-contents">
    {% if cart.item_count > 0 %}
        <form action="/cart" method="post" novalidate>
            {% comment %}
				disable form when updating with ajax
			{% endcomment %}
            <fieldset class="js-cart-fieldset" id="cart-fieldset">
                <div class="cart-lines">
                    {% for item in cart.items %}
                        {% include 'line-item' %}
                    {% endfor %}
                </div>



                <div class="cart-totals">



                    <details class='grid__item medium-up--one-half cart-note'>
                        <summary> <label for="CartSpecialInstructions" class="cart-note__label small--text-center">{{ 'cart.general.note' | t }}</label></summary>
                        <div class="content">
                            <textarea name="note" id="CartSpecialInstructions" class="cart-note__input">{{ cart.note }}</textarea>
                        </div>
                    </details>
                      
                    <div class="subtotal-line">
                        <p class="">{{ 'cart.filled.subtotal' | t }}</p>
                        <span class="price">{{ cart.total_price | money }}</span>
                    </div>

                    <p class="currency-note js-cart-currency-note">
                        {{ 'product.shipping.note' | t }}
                    </p>


                    <div class="mini-cart-buttons">
                        {%- comment -%}
                        <button class="underline-button" name="update" type="submit">{{ 'cart.filled.update' | t }}</button>
                        {%- endcomment -%}
                        <a class="black-button" href="/cart">{{ 'cart.filled.title' | t }}</a>
                        <button class="add-to-cart-button" name="checkout" type="submit">{{ 'cart.filled.mini_cart_title' | t }}</button>
                    </div>

                </div>

            
            </fieldset>

        </form>
    {% else %}
        {% comment %}
			Cart empty text
		{% endcomment %}
        <p class="cart-empty-text ta-center">{{ 'cart.empty.title' | t }}</p>
        <a class="block-button keep-shopping js-keep-shopping" href="/">{{ 'cart.empty.button' | t }}</a>
    {% endif %}
</div>
