{% include 'desc-box' %}

<div class="product-card">
    <a class="link-to-product" href="{{ product.url | within: collection }}">
        {% if product.featured_image %}
        <div class="card-image">

            <div class="reveal">

                {% if product.images.size > 1 %}

                <img data-src="{{ product.featured_image.src | img_url: '500x667', crop: 'center' }}"
                    alt="{{ product.featured_image.alt | escape }}" class="lazyload">

                <div class="hidden">
                    <img data-src="{{ product.images.last | img_url: '500x667', crop: 'center' }}"
                        alt="{{ product.images.last.alt | escape }}" class="lazyload" />
                </div>

                {% else %}

                <img data-src="{{ product.featured_image.src | img_url: '500x667', crop: 'center' }}"
                    alt="{{ product.featured_image.alt | escape }}" class="lazyload">

                {% endif %}
            </div>

        </div>
        {% endif %}

        <div class="card-info">
            <div class="card-info-top">
                <div class="product-title">



                    {% if product.template_suffix == 'accessories' %}

                    {% else %}
                    <p class="small-p c">{{ latin | strip_html }}</p>   
                    {% endif %}

                       
                    <p class="font-bolder">{{ product.title }}</p>
                </div>
                <div class="product-price">
                   <p>From <span>{{ product.price | money }}</span> </p> 
                </div>
            </div>

        </div>
    </a>
</div>