<!doctype html>
<html class='password-html'>
<head>
    <title>
        {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
      </title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {%- comment -%}Favicon!{%- endcomment -%}
      {% if settings.favicon != blank %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png"/>
  {% endif %}
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'password.scss' | asset_url | stylesheet_tag }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LH15N17QCB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-LH15N17QCB');
  </script>
  
</head>

<img src="{{ 'coming-soon-background.svg' | asset_url }}" class='background'> 

<body class='password-body'>

  
   

  <main role="main" class="password-main">
    {{ content_for_layout }}


  </main>


  <script async src="{{ 'lazysizes.min.js' | asset_url }}"></script>
  {{ "jquery-3.3.1.min.js" | asset_url | script_tag }}


</body>
</html>
