<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
   <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png"/>
 
<meta name="google-site-verification" content="N7ZlvstUspLk_y5lG38OlkQGhYwP29MzO_wIvbOfht0" />
  


  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'application.scss' | asset_url | stylesheet_tag }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LH15N17QCB"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-LH15N17QCB');
  </script>
  

</head>
<body>

  {% include "header" %}


  <main role="main">

    {{ content_for_layout }}

    {% if template == 'index' %}
      {{content_for_index}}
    {% endif %}
    

    {% include "footer" %}

  </main>


{% comment %}
			makes the page fade when mini-cart is open
		{% endcomment %}

    <div id="no-click"></div>

    {{ "lazysizes.min.js" | asset_url | script_tag }}
    {{ "jquery-3.3.1.min.js" | asset_url | script_tag }}


    {% comment %}if we have multiple currencies engaged enqueue scripts below	{% endcomment %}
      {% if settings.show_multiple_currencies %}
      {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
      {{ "jquery.currencies.min.js" | asset_url | script_tag }}
    {% endif %}
    
    {% include 'currencies' %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    {{ "search.js" | asset_url | script_tag }}
{%- comment -%}
{{ "currency-picker.js" | asset_url | script_tag }} {%- endcomment -%}
    {{ "application.js" | asset_url | script_tag }}

    {%- comment -%} self written js{%- endcomment -%}
    {{ "app-dist.js" | asset_url | script_tag }}


{%- comment -%}
  old js config

  {% include 'old-js-for-theme' %}

{%- endcomment -%}


</body>
</html>
