{% schema %}

{
    "name": "delivery",
    "class": "delivery-section",
    "blocks": [
        {
            "type": "about-section",
            "name": "About Section",
            "settings": [
                 {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle",
                    "info": "subtitle of page"
                }, 
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "info": "Title of page"
                }, 
                {
                    "type": "text",
                    "id": "deliveryoption",
                    "label": "Delivery Option",
                    "info": "Delivery Option Title"
                }, 
                {
                    "type": "color",
                    "id": "delivery_color",
                    "label": "Delivery Option Background color",
                    "default": "#d7e4d7"
                 },
                {
                    "type": "text",
                    "id": "deliveryarea",
                    "label": "Text Area",
                    "info": "Delivery area description"
                }, 
                {
                    "type": "text",
                    "id": "deliveryprice",
                    "label": "Price",
                    "info": "Delivery Price"
                }, 

                {
                    "type": "color",
                    "id": "delivery_colortwo",
                    "label": "Delivery Option Background color",
                    "default": "#d7e4d7"
                 },
                {
                    "type": "text",
                    "id": "deliveryoptiontwo",
                    "label": "Delivery Option",
                    "info": "Delivery Option Title"
                }, 
                {
                    "type": "text",
                    "id": "deliveryareatwo",
                    "label": "Text Area",
                    "info": "Text"
                }, 
                {
                    "type": "text",
                    "id": "deliverypricetwo",
                    "label": "Price",
                    "info": "Delivery Price"
                }, 
                {
                    "type": "color",
                    "id": "delivery_colorthree",
                    "label": "Delivery Option Background color",
                    "default": "#d7e4d7"
                 },
                {
                    "type": "text",
                    "id": "deliveryoptionthree",
                    "label": "Delivery Option",
                    "info": "Delivery Option Title"
                }, 
                {
                    "type": "text",
                    "id": "deliveryareathree",
                    "label": "Text Area",
                    "info": "Delivery area description"
                }, 
                {
                    "type": "text",
                    "id": "deliverypricethree",
                    "label": "Price",
                    "info": "Delivery Price"
                }, 
                {
                    "type": "color",
                    "id": "delivery_colorfour",
                    "label": "Delivery Option Background color",
                    "default": "#d7e4d7"
                 },
                {
                    "type": "text",
                    "id": "deliveryoptionfour",
                    "label": "Delivery Option",
                    "info": "Delivery Option Title"
                }, 
                {
                    "type": "text",
                    "id": "deliveryareafour",
                    "label": "Text Area",
                    "info": "Delivery area description"
                }, 
                {
                    "type": "text",
                    "id": "deliverypricefour",
                    "label": "Price",
                    "info": "Delivery Price"
                }

            ]
        }
    ],
    "presets": [
        {
            "category": "content",
            "name": "Our Story"
        }
    ]
}

{% endschema %}


<section class="story-info">
	<div class="inner">
		{% for block in section.blocks %}


			<section class="fifty-section">

				<div class="fifty-image">
                    <img data-src="{{ 'delivery.svg' | asset_url }}" class='illo lazyload'> 
				</div>


				<div class="fifty-text-area">
				
                    <div class="title-area">

                        {% if block.settings.subtitle != blank %}
                            <h6>{{ block.settings.subtitle }}</h6>
                        {% endif %}

                        <h1>{{ block.settings.title }}</h1>
                    </div>


                    <div class="delivery-options">

                        {% if block.settings.deliveryoption != blank %}

                        <div class="delivery-box" style="background-color:{{ block.settings.delivery_color }}">
                            <div class="delivery-text">
                                <p class="font-bolder">{{ block.settings.deliveryoption }}</p>
                                <p class="font-bolder">{{ block.settings.deliveryprice }}</p>
                               
                            </div>
                            <div class="delivery-price">
                                <p class='small-p'>{{ block.settings.deliveryarea | strip_html  }}</p>
                            </div>
                        </div>

                        {% endif %}

                        {% if block.settings.deliveryoptiontwo != blank %}

                        <div class="delivery-box" style="background-color:{{ block.settings.delivery_colortwo }}">
                            <div class="delivery-text">
                                <p class="font-bolder">{{ block.settings.deliveryoptiontwo }}</p>
                                <p class="font-bolder">{{ block.settings.deliverypricetwo  }}</p>
                            </div>
                            <div class="delivery-price">
                                
                                <p class='small-p'>{{ block.settings.deliveryareatwo | strip_html  }}</p>
                            </div>
                        </div>


                        {% endif %}

                        {% if block.settings.deliveryoptionthree != blank %}

                            <div class="delivery-box" style="background-color:{{ block.settings.delivery_colorthree }}">
                                <div class="delivery-text">
                                    <p class="font-bolder">{{ block.settings.deliveryoptionthree }}</p>
                                    <p class="font-bolder">{{ block.settings.deliverypricethree }}</p>
                                </div>
                                <div class="delivery-price">
                                    <p class='small-p'>{{ block.settings.deliveryareathree | strip_html  }}</p>
                                </div>
                            </div>

                        {% endif %}

                        {% if block.settings.deliveryoptionfour != blank %}

                            <div class="delivery-box" style="background-color:{{ block.settings.delivery_colorfour }}">
                                <div class="delivery-text">
                                    <p class="font-bolder">{{ block.settings.deliveryoptionfour }}</p>
                                    <p class="font-bolder">{{ block.settings.deliverypricefour }}</p>
                                </div>
                                <div class="delivery-price">
                                    <p class='small-p'>{{ block.settings.deliveryareafour | strip_html  }}</p>
                                </div>
                            </div>
                            
                        {% endif %}

                      
                    </div>
					

				
				</div>

			</section>


		{% endfor %}
	</div>
</section>
