{% schema %}

{
    "name": "Collection Slides",
    "class": "collection-slides",
    "settings":  
    [    
        {
            "id": "slide_title",
            "type": "text",
            "label": "Title",
            "placeholder": "Slide Title"
        }, {
            "id": "slide_content",
            "type": "textarea",
            "label": "Slide Content"
        }
    ],
    "blocks": [
        {
            "type": "category",
            "name": "Category",
            "settings": [
                {
                    "id": "image",
                    "type": "image_picker",
                    "label": "Background Image"
                }, {
                    "id": "title",
                    "type": "text",
                    "label": "Title",
                    "placeholder": "Slide Title"
                }, {
                    "id": "content",
                    "type": "textarea",
                    "label": "Slide Content"
                }, {
                    "id": "button_url",
                    "type": "url",
                    "label": "Button URL"
                }, {
                    "id": "button_text",
                    "type": "text",
                    "label": "Button Text",
                    "placeholder": "Shop Now",
                    "info": "Defaults to \"Shop Now\""
                }
            ]
        }
    ],
    "presets": [
        {
            "category": "content",
            "name": "Collection Slides",
            "blocks": [
                {
                    "type": "category",
                    "settings": {
                        "title": "Add Category",
                        "content": "Lorem ipsum"
                    }
                }
            ]
        }
    ]
}

{% endschema %}

<div class="homepage-category">

    <div class="title-section" id="page__title_section">
        {% if section.settings.slide_title != blank %}
            <h3 class="">{{ section.settings.slide_title }}</h3>
        {% endif %}

        <h6 class="p-fade">{{ section.settings.slide_content }}</h6>
    </div>


    <div class="category-item-group">

        <div id="hutch-homepage-slider" class="glide">
            <div class="glide__track" data-glide-el="track">
        
              <ul class="glide__slides">
                
                {% for block in section.blocks %}
        
                <li class="glide__slide">
        
                    <a href="{{ block.settings.button_url }}" class="category-link">
        
                        <div class="category-item" {{ block.shopify_attributes }}>
        
                            {% if block.settings.image != blank %}
                                <div class="category-image">
                                    <img data-src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" class="lazyload"/>
        
                                </div>
                            {% endif %}
        
                            <div class="category-content">
        
                                <h5 class="white uppercase">{{ block.settings.title }}</h5>
                                {% if block.settings.content != blank %}
                                    <p>{{ block.settings.content }}</p>
                                {% endif %}
        
                            </div>
        
                            <div class="category-bottom">
                                {% if block.settings.button_url != blank %}
                                    <div class="item-button">
                                        {% if block.settings.button_text != blank %}
                                            {{ block.settings.button_text }}
                                        {% else %}
                                            {{ "general.shop.shop_now" | t }}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
        
                            
                        </div>
        
                    </a>
        
                </li>
                {% endfor %}
                
              </ul>
            </div>
          
            <div data-glide-el="controls">
              <button class="slider__arrow slider__arrow--prev glide__arrow glide__arrow--prev" data-glide-dir="<">
                <svg class="icon" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
              </button>
          
              <button class="slider__arrow slider__arrow--next glide__arrow glide__arrow--next" data-glide-dir=">">
                <svg class="icon" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"></path></svg>
              </button>
            </div>
          
          
          </div>



    </div>
</div>


