{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}

{% if section.settings.newsletter_enable %}
  {% form 'storefront_password' %}

  {{ form.errors | default_errors }}

    <label for="password">{{ section.settings.newsletter_form_heading }}</label>
  <div class="form-control">
    <input type="password" name="password" placeholder='{{ section.settings.newsletter_placeholder }}'>
    <input type="submit" value="{{ section.settings.newsletter_button_text }}">
  </div>

  {% endform %}
{% endif %}

{% schema %}
  {
    "name": "Content",
    "settings": [
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "login form heading",
        "default": "Enter store using password:"
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Login placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Login button text",
        "default": "Login"
      }
    ]
  }
{% endschema %}
