{% comment %}
	https://help.shopify.com/en/themes/liquid/objects/collection#collection-products
{% endcomment %}
{% paginate collection.products by 9999 %}
	<div id="page-collection">


		<div class="all-collection-content">
   

          {% if collection.image %}

              <div class="collection-header">

                <img data-src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.image.alt }}" class="lazyload"/>

      
                <div class="collection-header-content">

                 
                  <h1 class="white animated-header-gif">{{ collection.title }}</h1>

                </div>

                {% include 'waves' %}
              </div>

          {% endif %}


          <div class="collection-images">



           

            {% case collection.handle %}

                {% when 'accessories' %}

                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">
                  <img src="{{ 'accessories.svg' | asset_url }}" class='illo'> 
                </div>


                {% when 'terrariums' %}
                
                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">
                  <img src="{{ 'terrarium.svg' | asset_url }}" class='illo'> 
                </div>
                

                {% when 'low-light' %}

                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">
                  <img src="{{ 'low-light.svg' | asset_url }}" class='illo'> 
                </div>

                {% when 'pet-friendly' %}


                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">

                  <div class="collection_image_title">
    
                    <h3 class="">{{ collection.title }}</h3>
                    <p class="">{{ collection.description }}</p>
        
                  </div>
                  <img src="{{ 'pet-friendly.svg' | asset_url }}" class='illo'> 
                </div>

                {% when 'sun-worshippers' %}

                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">
                  <img src="{{ 'sun-worshippers.svg' | asset_url }}" class='illo'> 
                </div>

                {% when 'trailing-plants' %}

                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">
                  <img src="{{ 'trailing.svg' | asset_url }}" class='illo'> 
                </div>

                {% when 'easy-care' %}

                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">
                  <img src="{{ 'easy-care.svg' | asset_url }}" class='illo'> 
                </div>

                {% when 'air-purifying' %}

                <div class="collection_image_title">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>

                <div class="collection-illustration">
                  <img src="{{ 'air-purifying.svg' | asset_url }}" class='illo'> 
                </div>

                {% else %}

                <div class="collection_image_title-full">
    
                  <h3 class="">{{ collection.title }}</h3>
                  <p class="">{{ collection.description }}</p>
      
                </div>
                  
          {% endcase %}

          </div>

          <div class="all-collection-topper">


            <div class="topper-inner">
              <div class="topper__title">
    
                <h5 class="">{{ collection.title }}</h5>
              
              </div>



              <div class="all-collection-sorting">
                {%- comment -%}<h5 class="uppercase">{{ "collection.sort.title" | t }}</h5>{%- endcomment -%}

                <ul class="subnav clearfix">
                  <li{% unless current_tags %} class="active"{% endunless %}>
                    {% if collection.handle %}
                    <a class='font-bolder' href="/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}">All</a>
                    {% elsif collection.current_type %}
                    <a class='font-bolder' href="{{ collection.current_type | url_for_type | sort_by: collection.sort_by }}">All</a>
                    {% elsif collection.current_vendor %}
                    <a class='font-bolder' href="{{ collection.current_vendor | url_for_vendor | sort_by: collection.sort_by }}">All</a>
                    {% endif %}
                  </li>
                  {% for tag in collection.all_tags %}
                  {% if current_tags contains tag %}
                  <li class="active">
                    {{ tag | link_to_remove_tag: tag }}
                  </li>
                  {% else %}
                  <li>
                    {{ tag | link_to_tag: tag }}
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
    
    
                {% for option in collection.sort_options %}
                  {% if option.value contains 'price-' %}
    
                    <a class="text-link {% if collection.sort_by == option.value %}active{% endif %}" href="?sort_by={{ option.value }}">
    
                      {% if option.value contains 'ascending' %}
                        <h6 class="">{{ "collection.sort.price_low_high" | t }}</h6>
                      {% else %}
                        <h6 class="">{{ "collection.sort.price_high_low" | t }}</h6>
                      {% endif %}
                    </a>
    
                  {% endif %}

                {% endfor %}
    
    
                {% comment %}
                  https://help.shopify.com/en/themes/liquid/objects/collection#collection-sort_by
                {% endcomment %}
    
    
                {% if collection.sort_by %}
                  <a class="block-button" href="{{ collection.url }}">
                    {{ "collection.sort.clear" | t}}
                  </a>
                {% endif %}
    
              </div>
            </div>  
          </div>   
            
          






				</div>
			</div>

			<div class="all-collection-products  big-inner">
				{% for product in collection.products %}
					{% include 'product-card' %}
				{%endfor %}
			</div>
		</div>
	</div>

{% endpaginate %}
