<div class="extra-page" id="contact-page">
  <div class="section-contact">
  
    <div class="inner">
  
      <div class="fifty-section contact-form__section">
  
        <div class="fifty-text-area">
    
          <div class="title-area">
  
          {{ page.content }}
  
          </div>
  
          <div class="about-para">
  
        
                  {% form 'contact' %}
                      {% if form.posted_successfully? %}
                          <div class="contact-form-info">
                              <h6>Thank you for your contact</h6>
                          </div>
                      {% endif %}
      
                      <div class="contact-form-info">
                          {% for field in form.errors %}
                              {% if field == 'form' %}
                                  <h6 class="red">{{ form.errors.messages[field] }}</h6>
                              {% else %}
                                  <h6 class="red">{{ form.errors.translated_fields[field] }}
                                      -
                                      {{ form.errors.messages[field] }}</h6>
                              {% endif %}
                          {% endfor %}
      
                      </div>
      
      
                      <div class="main-contact-form">
  
                        <label for="ContactFormName">Your Full Name</label>
                        <input type="text" id="ContactFormName" name="contact[name]" placeholder="Name">
                        <label for="ContactFormEmail">Your Best Email Address</label>
                        <input id="ContactFormEmail" name="contact[email]" placeholder="Email" type="text"/>
                        <label for="ContactFormTelephone">Your Best Contact Number</label>
                        <input id="ContactFormTelephone" name="contact[telephone]" placeholder="Telephone" type="text"/>
                        <label for="ContactFormMessage">Your Message / Question</label>
                        <textarea rows="10" id="ContactFormMessage" name="contact[body]"></textarea>
                        <input type="submit" class="block-button" value="{{ 'contact.form.send' | t }}">
  
                      </div>
                  {% endform %}
       
      
          </div>
  
      </div>
  
  
        <div class="fifty-image">
            <img data-src="{{ 'contact.svg' | asset_url }}" class='illo lazyload'> 
        </div>
    
    
    
  
            </div>
  
    </div>
  </div>
  
    
  
  
  
    
  
  </div>
  
  
  


