{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

{% assign description = product.description | strip_html %}

{% if description contains '---' %}
  {% assign quickdescription = description | split: '---' | first %}
  {% assign description_array = description | split: '---' %}

  {% assign productInfoKeys = 'Latin|Why|How|Unique' | split: '|' %}
  {% for key in productInfoKeys %}

  {% assign split_key = key | prepend: '~*~' | append: '~*~' %}
  {% if description contains split_key %}
    {% if key == 'Latin' %}
    {% assign latin = description | split: split_key | last | split: '---' | first %}
  {% elsif key == 'Why' %}
    {% assign why = description | split: split_key | last | split: '---' | first %}
  {% elsif key == 'How' %}  
    {% assign how = description | split: split_key | last | split: '---' | first %}
    {% assign watering = how | split: 'Watering:' | last | split: '.' | first %}
    {% assign light = how | split: 'Light:' | last | split: '.' | first %}

  {% elsif key == 'Unique' %}  
    {% assign unique = description | split: split_key | last | split: '---' | first %}

  {% endif %}   
{% endif %} 

  {% endfor %}


{% endif %}

<div id="page-product">

  {% comment %}Begin Product Top{% endcomment %}
  <div id="product-top" class="wrapper grid">

<div class="product-top-inner">

 {% include 'product-images' %}

  <div class="product-actions">


    {% if collection %}

    <div class="collection-anchor-title">
      <a href="{{ collection.url }}">
        <span class="collection-mark">
          {{ collection.title }}
        </span>
      </a>

    </div>

    {% endif %}

    <h6 class='green-text product-latin'>{{ latin | strip_html }}</h6>
    <h3 class="product-title">{{ product.title }}</h3>
    <h6>{{ quickdescription }}</h6>

    {% if product.variants.size == 1 %}

      <div class="variants_product-box">
        <p class="font-bolder">
          {% for option in product.options %}
        {{ option }}
      {% endfor %}
        </p>
      
      <p>
        {% for variant in product.variants %}
      
          {% for option in variant.options %}
          <span> {{ option }}, </span>
          {% endfor %}
      
      {% endfor %}
      
      </p>
      </div>
      
    {% endif %}



    {% include 'add-to-cart-form' %}



    <div class="product-detail-tabs">

      {%- comment -%}
      <details>
        <summary><p class='font-bolder'>{{ 'product.description.title' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ quickdescription }}</p>
        </div>
      </details>

{%- endcomment -%}

      <details>
        <summary><p class='font-bolder'>{{ 'product.description.why' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ why }}</p>
        </div>
      </details>

      {% if how %}
        
      <details>
        <summary><p class='font-bolder'>{{ 'product.description.how' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
          <div class="how-desc">
            <div class="icon-how">
              <img src="{{ 'watering.svg' | asset_url  }}" class='icon-logo'>
            </div>
              <p><span class='font-bolder'>{{ 'product.description.watering' | t }}</span>{{ watering }}</p>
          </div>
          <div class="how-desc">
            <div class="icon-how">
              <img src="{{ 'light.svg' | asset_url  }}" class='icon-logo'>
            </div>
              <p><span class='font-bolder'>{{ 'product.description.light' | t }}</span>{{ light }}</p>
          </div>

            
        </div>
      </details>

      {% endif %}

      {% if unique %}


      <details>
        <summary><p class='font-bolder'>{{ 'product.description.unique' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ unique }}</p>
        </div>
      </details>
        
      {% endif %}


      <details>
        <summary><p class='font-bolder'>{{ 'product.shipping.title' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ shop.shipping_policy }}</p>
        </div>
      </details>

    </div>
    
  </div>
</div>

  </div>
  {% comment %}End Product Top{% endcomment %}


    


  {% if collection %}

    {% comment %}Begin Product Bottom{% endcomment %}
    <div id="product-bottom" class="wrapper grid">

  {% include 'product-more' with collection: collection, limit: 6, exclude: product.handle %}
  {% endif %}
  

</div>

  {% comment %}End Product Bottom{% endcomment %}