{% include 'desc-box' %}

<div id="page-product">

  {% comment %}Begin Product Top{% endcomment %}
  <div id="product-top" class="wrapper grid">

<div class="product-top-inner">

 {% include 'product-gallery' %}

  <div class="product-actions">


    {% if collection %}

    <div class="collection-anchor-title">
      <a href="{{ collection.url }}">
        <span class="collection-mark">
          {{ collection.title }}
        </span>
      </a>

    </div>

    {% endif %}

    <h6 class='green-text product-latin'>{{ latin | strip_html }}</h6>
    <h3 class="product-title">{{ product.title }}</h3>


    {% if Subtitle %}

<div class="product-desc-box">
  <p class='font-bolder'>{{ Subtitle }}</p>
  <p>{{ quickdescription }}</p>
</div>


      {% else %}
        
      <h6>{{ quickdescription }}</h6>

    {% endif %}



    {% if product.variants.size == 1 %}

      <div class="variants_product-box">
        <p class="font-bolder">
          {% for option in product.options %}
        {{ option }}
      {% endfor %}
        </p>
      
      <p>
        {% for variant in product.variants %}
      
        
          {% for option in variant.options %}
          
          {% if variant.options > 1 %}
          <span> {{ option }}, </span>
          {% else %}
          <span> {{ option }} </span>
            
          {% endif %}
        

          {% endfor %}
      
      {% endfor %}
      
      </p>
      </div>
      
    {% endif %}



    {% include 'add-to-cart-form' %}



    <div class="product-detail-tabs">

      {%- comment -%}
      <details>
        <summary><p class='font-bolder'>{{ 'product.description.title' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ quickdescription }}</p>
        </div>
      </details>

{%- endcomment -%}

      <details>
        <summary><p class='font-bolder'>{{ 'product.description.why' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ why }}</p>
        </div>
      </details>

      {% if how %}
        
      <details>
        <summary><p class='font-bolder'>{{ 'product.description.how' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
          <div class="how-desc">
            <div class="icon-how watering-icon">
              <img src="{{ 'watering.svg' | asset_url  }}" class='icon-logo'>
            </div>
              <p><span class='font-bolder'>{{ 'product.description.watering' | t }}</span>{{ watering }}</p>
          </div>
          <div class="how-desc">
            <div class="icon-how light-icon">
              <img src="{{ 'light.svg' | asset_url  }}" class='icon-logo'>
            </div>
              <p><span class='font-bolder'>{{ 'product.description.light' | t }}</span>{{ light }}</p>
          </div>

            
        </div>
      </details>

      {% endif %}

      {% if unique %}


      <details>
        <summary><p class='font-bolder'>{{ 'product.description.unique' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ unique }}</p>
        </div>
      </details>
        
      {% endif %}


      <details>
        <summary><p class='font-bolder'>{{ 'product.shipping.title' | t }}<span class="cross-icon"></span></p></summary>
        <div class="content">
            <p>{{ shop.shipping_policy }}</p>
        </div>
      </details>

    </div>
    
  </div>
</div>

  </div>
  {% comment %}End Product Top{% endcomment %}


    




    {% comment %}Begin Product Bottom{% endcomment %}
    <div id="product-bottom" class="wrapper grid">
   
    

      {% comment %}findout we are on plant products if so display pots underneath{% endcomment %}
      {% for collection in product.collections %}


        {% if collection.handle contains 'plants' %}
        {% assign mycollection = 'pots' %}
  
          {% include 'product-more' with collection: collections[mycollection], limit: 6, exclude: product.handle %}

          {% unless collection.handle contains 'pots' %}

            {% include 'product-more' with collection: collection, limit: 6, exclude: product.handle %}

          {% endunless %}

          {% break %}

        {% endif %}


        {% if collection.handle contains 'accessories' %}


        {% assign plants = 'all-plants' %}

          {% include 'product-more' with collection: collections[plants], limit: 6, exclude: product.handle %}

        {% endif %}


      {% endfor %}



  


</div>

  {% comment %}End Product Bottom{% endcomment %}